/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #ffffff;
    text-align: center;
    background-image: url('imagenes/fondo_profesional.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Encabezado */
header {
    background: rgba(0, 0, 0, 0.85); /* Fondo semi-transparente */
    color: #00e5ff;
    padding: 30px 20px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 229, 255, 0.3);
    letter-spacing: 2px;
}

/* Secciones */
section {
    margin: 20px 0;
    padding: 20px;
    background: rgba(28, 28, 28, 0.95); /* Fondo semi-transparente */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.5);
}

/* Títulos */
h2 {
    color: #00e5ff;
    text-transform: uppercase;
    border-bottom: 4px solid #00e5ff;
    display: inline-block;
    padding-bottom: 6px;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Imágenes */
img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 229, 255, 0.5);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

/* Pie de página */
footer {
    background: rgba(17, 17, 17, 0.95); /* Fondo semi-transparente */
    padding: 20px;
    margin-top: 40px;
    font-size: 16px;
    color: #bbbbbb;
    letter-spacing: 1px;
}
